<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wanderlust</title>
</head>
<body>
    <form  method="POST" action="/listings/<%=listing._id%>?_method=PUT">
        <input type="text" name="listing[title]" id="" value="<%=listing.title%>">
        <br><br>
        <textarea name="listing[description]" id="" cols="22" ><%=listing.description%></textarea>
        
        <br> <br>
        <input type="text" name="listing[image]" id="" value="<%=listing.image%>">
        <br><br>
        <input type="number" name="listing[price]" id=""value="<%=listing.price%>">
       <br><br>
        <input type="text" name="listing[country]" id="" value="<%=listing.country%>">
        <br><br>
        <input type="text" name="listing[location]" id="" value="<%=listing.location%>">
        <br><br>

        <button>submit</button>
    </form>
</body>
</html>